@page "/"
@using CodeSnippetManager.Client.Pages

<ClientHome></ClientHome>

@* <PageTitle>Code Snippet Manager </PageTitle> *@
@* <h1>Code Snippet Manager</h1> *@
@* *@
@* <button class="btn-sm btn-outline-primary" @onclick="showModal">Create Snippet</button> *@
@* *@
@* <AddSnippetPopup @ref="AddSnippetPopupRef" /> *@
@* <AddTagsPopup></AddTagsPopup> *@
@* <SnippetGrid></SnippetGrid> *@
@* *@
@* @code{ *@
@* *@
@*     private AddSnippetPopup AddSnippetPopupRef; *@
@* *@
@*     private void showModal() *@
@*     { *@
@*         AddSnippetPopupRef.ShowModal(); *@
@*     } *@
@* *@
@* } *@