
/CodeSnippetManager/.vs
/CodeSnippetManager/.idea/*
/CodeSnippetManager/CodeSnippetManager/CodeSnippetManager.Client/bin/*
/CodeSnippetManager/CodeSnippetManager/CodeSnippetManager/obj/*
/CodeSnippetManager/CodeSnippetManager/CodeSnippetManager/bin/*
/CodeSnippetManager/CodeSnippetManager/*
