@inject HttpClient Http
@rendermode InteractiveAuto

<button @onclick="ShowModal">Create Snippet</button>

<Modal IsVisible="isModalVisible" IsVisibleChanged="OnModalVisibilityChanged">
    <h2>Code:</h2>
    <textarea class="flex-grow-1"></textarea>
    <button>Save Snippet</button>
</Modal>

@code {

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5194/api/Snippets");
        var content = await response.Content.ReadAsStringAsync();
        Console.WriteLine(content);
    }

    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool visible)
    {
        isModalVisible = visible;
    }
}