@rendermode InteractiveAuto

<button @onclick="ShowModal">Create Snippet</button>

<Modal IsVisible="isModalVisible" IsVisibleChanged="OnModalVisibilityChanged">
    <h2>Code:</h2>
    <textarea class="flex-grow-1"></textarea>
    <button>Save Snippet</button>
</Modal>

@code {
    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool visible)
    {
        isModalVisible = visible;
    }
}