@inject HttpClient Http
@rendermode InteractiveAuto

@using CodeSnippetManager.Data.Models

<button @onclick="ShowModal">Create Snippet</button>

<Modal IsVisible="isModalVisible" IsVisibleChanged="OnModalVisibilityChanged">
    <h2>Code:</h2>
    <textarea @bind="SnippetText" class="flex-grow-1"></textarea>
    <button @onclick="clicky">Save Snippet</button>
</Modal>

@code {

    public string SnippetText = "";
    protected async Task clicky()
    {
        Snippet snipTest = new() { Content = SnippetText };
        var response = await Http.PostAsJsonAsync("http://localhost:5194/Snippets/Add", snipTest);
        var content = await response.Content.ReadAsStringAsync();
        Console.WriteLine(content);
    }

    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool visible)
    {
        isModalVisible = visible;
    }
}