@rendermode InteractiveAuto
@inject IHttpClientFactory clientFactory
@using CodeSnippetManager.Data.Models

<button @onclick="ShowModal">Create Tag</button>

<Modal IsVisible="isModalVisible" IsVisibleChanged="OnModalVisibilityChanged">
    <h2>Tags:</h2>
    <button @onclick="clicky">Add Tag</button>
    <input type="text" placeholder="Tag Name..." @bind="NewTagName" />
    <div class="flex-grow-1 overflow-auto">
    @foreach (var tag in Tags)
    {
        <button @onclick="()=>DeleteTag(tag.Id)">Delete Tag</button>
        <label>@tag.Name </label>
        <br />
    }
    </div>
</Modal>

@code {
    public List<Tag> Tags = [];
    public string NewTagName = "";
    protected override async Task OnInitializedAsync()
    {
        await refreshTags();
    }


    protected async Task clicky()
    {
        Tag newTag = new() { Name = NewTagName};
        var client = clientFactory.CreateClient();
        var request = new HttpRequestMessage(HttpMethod.Post, "Tags/Add");
        request.Content = JsonContent.Create(newTag);
        var response = await client.SendAsync(request);
        var content = await response.Content.ReadAsStringAsync();
        Console.WriteLine(content);
    }

    protected async Task refreshTags()
    {
        var client = clientFactory.CreateClient();
        var request = new HttpRequestMessage(HttpMethod.Get, "Tags/GetAll");
        var response = await client.SendAsync(request);
        Tags = await response.Content.ReadFromJsonAsync<List<Tag>>();
        foreach (var tag in Tags)
        {
            Console.WriteLine(tag.Name);
        }
    }


    private async Task DeleteTag(int tagId)
    {
        var client = clientFactory.CreateClient();
        var request = new HttpRequestMessage(HttpMethod.Post, "Tags/Delete");
        request.Content = JsonContent.Create(tagId);
        var response = await client.SendAsync(request);
        Console.WriteLine(response.Content);

        await refreshTags();
    }


    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool visible)
    {
        isModalVisible = visible;
    }
}