@inject HttpClient Http
@using System.Net.Http.Json
@using CodeSnippetManager.Data.Models
<h3>SnippetGrid</h3>

@foreach (var snippet in listOfSnippets)
{
    <div>
        <button @onclick="()=>DeleteSnippet(snippet.Id)">delete</button>
        <label>@snippet.Content</label>
    </div>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5194/Snippets/GetAll");
        listOfSnippets = await response.Content.ReadFromJsonAsync<List<Snippet>>();
        foreach (Snippet snippet in listOfSnippets)
        {
            Console.WriteLine(snippet.Content);
        }

    }

    List<Snippet> listOfSnippets { get; set; } = new();

    public async Task DeleteSnippet(int snippetId)
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5194/Snippets/Delete", snippetId);
        Console.WriteLine(response.Content);
    }
}
